html, body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    color: #fffaff;
}

#container {
    display: flex;
    height: 100vh;
}
#menu {
    background-color: #a5b452;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.menu-item {
    min-height: 75px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #003a44;
    color: #fffaff;
    border: none;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
}

#vertice-selection-message {
    max-width: 150px;
}

.canvas-wrapper {
    position: relative;
}

canvas {
    position: absolute;
}

#drawn-menu {
    justify-content: start;
}

.info {
    justify-content: center;
    border: 1px solid #fffaff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

.selected-button {
    background-color: #227877;
}

#resolve-button {
    justify-content: center;
}

#edgeWeight {
    height: 30px;
}