html, body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

#container {
    display: flex;
    height: 100vh;
}
#menu {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    justify-content: space-between;
}

.menu-item {
    min-height: 75px;
}

.sub-menu {
    display: flex;
    flex-direction: column;
}

#vertice-selection-message {
    max-width: 150px;
}

.canvas-wrapper {
    position: relative;
}

canvas {
    position: absolute;
}